<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log in</title>

    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div>
<%- include('partials/navbar') %>
</div>
<div style="margin-top:20px">
<h2 class="text-center"> Details </h2>
</div>
<div class="container">
  <div id="addInfo">
  </div>
    <div class="center-block">
        <div class="col-xs-4 col-xs-offset-8 center">
<table id="details" name="details" class="table table-sm ">
</table>
<hr>
<form id="contact" name="contact">
<div class="form-group">
  <label for="message">Contact:</label>
  <textarea class="form-control" rows="5" id="message" name="message"></textarea>
</div>
<div class="form-group">
<!--  <button type="button" class="btn btn-def btn-block" onclick="sendContact()">Send</button>-->
  <input type="submit" class="btn btn-primary" value="Submit" onclick="sendContact()"/>

</div>
</form>
</div>
</div>
</div>
</div>
<script>
function findDetails(){
  str = window.location.pathname;
  var n = str.lastIndexOf('/');
  var result = str.substring(n + 1);
  return result;
}
function sendContact(){
  $.ajax({
   url: "/contact",
   type: 'POST',
   headers: {
     'Authorization': 'Bearer '+ JSON.parse(sessionStorage.getItem("jwtToken"))
   },
   data: {
    order: findDetails(),
    client: JSON.parse(sessionStorage.getItem("userEmail")),
    message: $('#message').val()
   },
   success: function (data) {
     console.log(data)
     //window.location.replace("/me.html");
   },
   error: function (error) {
     console.log(error);

   }
  });

}
$.ajax({
   url: "/orderdetails?where=\{%22orderId%22:%22" + findDetails() + "%22\}",
   type: 'GET',
   dataType: 'json',
   headers: {
     'Authorization': 'Bearer '+ JSON.parse(sessionStorage.getItem("jwtToken"))
   },
   contentType: 'application/json; charset=utf-8',
   success: function (result) {
     console.log(result);
     $('#addInfo').append('<p>Admitted: '+(result[0].orderId.createdAt).split('T')[0]+'</p>' +
     '<p>Damage: '+result[0].orderId.damage+'</p>' +
     '<p>Product: '+result[0].orderId.product+'</p>');
     result.forEach(function(item,index){
        $('#details').append('<tr>'+
    '<td>'+(item.date).split('T')[0]+'</td>'+
    '<td>'+item.state+'</td>' +
  //  '<td>'+item.version+'</td>'+

    (item.city ? '<td>'+item.city+'</td>': '<td></td>')+
    (item.comment ? '<td>'+item.comment+'</td>': ' <td></td')+
    '</tr>')
  });

     //window.location.replace("/me.html");
   },
   error: function (error) {
     console.log(error);
   }
 });
</script>
