<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Details</title>

    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/inbox.css"/>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

</head>
<body>
<div>
<%- include('partials/navbar') %>
</div>



<div class="container">
  <div class="tabela">
  <div id="addInfo">
  </div>
<div class="table-responsive">
<table id="details" name="details" class="table ">
</table>
</div>
<hr>
<div id="previous"></div>
<form id="contact" name="contact">
<div class="form-group">
  <label for="message">Contact:</label>
  <textarea class="form-control" rows="5" id="message" name="message"></textarea>
</div>
<div class="form-group">
<div class="text-center">
  <input type="submit" class="btn btn-primary" value="Submit" onclick="sendContact()"/>
</div>
</div>
</form>
</div>
</div>

<script>
function findDetails(){
  str = window.location.pathname;
  var n = str.lastIndexOf('/');
  var result = str.substring(n + 1);
  return result;
}
function sendContact(){
  $.ajax({
   url: "/contact",
   type: 'POST',
   headers: {
     'Authorization': 'Bearer '+ JSON.parse(sessionStorage.getItem("jwtToken"))
   },
   data: {
    order: findDetails(),
    client: JSON.parse(sessionStorage.getItem("userEmail")),
    message: $('#message').val()
   },
   success: function (data) {
     console.log(data)
   },
   error: function (error) {
     console.log(error);

   }
  });

}
$(document).ready(function () {
$.ajax({
   url: "/orderdetails?where=\{%22orderId%22:%22" + findDetails() + "%22\}",
   type: 'GET',
   dataType: 'json',
   headers: {
     'Authorization': 'Bearer '+ JSON.parse(sessionStorage.getItem("jwtToken"))
   },
   contentType: 'application/json; charset=utf-8',
   success: function (result) {
     console.log(result);
     $('#addInfo').append('<p>Admitted: '+(result[0].orderId.createdAt).split('T')[0]+'</p>' +
     '<p>Damage: '+result[0].orderId.damage+'</p>' +
     '<p>Product: '+result[0].orderId.product+'</p>');
     result.forEach(function(item,index){
        $('#details').append('<tr>'+
    '<td>'+(item.date).split('T')[0]+'</td>'+
    '<td>'+item.state+'</td>' +

    (item.city ? '<td>'+item.city+'</td>': '<td></td>')+
    (item.comment ? '<td>'+item.comment+'</td>': ' <td></td')+
    '</tr>')
  });


   },
   error: function (error) {
     console.log(error);
   }
 });
 $.ajax({
   type: 'GET',
   url: '/contact?populate=order',
       headers: {
         'Authorization': 'Bearer '+ JSON.parse(sessionStorage.getItem("jwtToken"))
       },
   success: function(data) {
     data.forEach(function(item,index){
       console.log("MESSAGE" + item.message);
       if(item.order.id == findDetails()) {

         var el = document.getElementById('previous'),
         elChild = document.createElement('div');

         elChild.innerHTML += "<ul class='chat'><li class='left clearfix'><span class='glyphicon glyphicon-user'></span>" +
               "<div class='chat-body clearfix'>" +
                 "<div class='header'>"+
                   "<strong class='primary-font'> Me </strong>" +
                   "<small class='pull-right text-muted'> "+ item.createdAt +" "+
                     "<span class='glyphicon glyphicon-time'></span></small>"+
                 "  </div><p> "+ item.message + "</p></div></li></ul>";
                 el.appendChild(elChild);

               if(item.response) {
               console.log(item.response);
                   elChild.innerHTML += "<ul class='chat'><li class='left clearfix'>" +
                   "<span class='glyphicon glyphicon-envelope'></span>" +
                   "<div class='chat-body clearfix'>" +
                     "<div class='header'>" +
                       "<strong class='primary-font'> Serwis </strong> "+
                     "<small class='pull-right text-muted'> "+ item.updatedAt+""  +
                         "<span class='glyphicon glyphicon-time'></span></small>" +
                         "</div> <p> "+ item.response+" </p></div></li></ul> " ;
el.appendChild(elChild);
}

       }
     });

     console.log(data);

},
error: function (error) {
 console.log(error);

}
});

});
</script>
</body>
</html>
