<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Serwis</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/makecontact" id="contactHref" name="contactHref">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
       <div class="container">
         <div class="row">
           <div class="col-lg-12 text-center">
             <h1 class="mt-5">Serwis</h1>
             <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
           </div>
         </div>
       </div>

       <!-- Bootstrap core JavaScript -->
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


      <div class="wrapper">

        <script>
        $(document).ready(function(){
          $('#contactHref').click(function(){
            event.preventDefault();

        //function contact(){
            $.ajax({
              xhrFields: {
                withCredentials: true
              },
              headers: {
                'Authorization': 'Bearer ' + JSON.parse(sessionStorage.getItem("jwtToken"))
              },
              url: "/contact.html"
              //url: window.location.href("/user/me")
            });
          window.location = "/contact.html"
        });
      });
        function forgotPass(){
          $.ajax({
            type: 'POST',
            url: '/auth/forgot-password',
            data: {
              email: 'marta.jareckaa@gmail.com',
              url: 'http://localhost:1337/rest-password'
            },
            done: function() {
              console.log('Your user received an email');
              window.location.href("/me.html");
            },
            fail: function(error) {
              console.log('An error occurred:', error);
            }
          });
        }
          function sendLogIn() {
           /*$.post( "http://localhost:1337/auth/local",{identifier: $('#identifier').val(), password: $('#password').val()}, function( data ) {
              console.log(data);
              headers: {
                'Authorization': 'Bearer '+ data.jwt,
              }
              window.location.replace("/user/me?Bearer="+data.jwt);
              $.get("http://localhost:1337/user/me")
               $.ajax({
                 url: "http://localhost:1337/user/me",
                 type: 'GET',
                 dataType: 'json',
                 headers: {
                   'Authorization': 'Bearer '+data.jwt
                 },
                 contentType: 'application/json; charset=utf-8',
                 success: function (result) {
                   // CallBack(result);
                   console.log(result)
                   //window.location.replace("/me.html");
                 },
                 error: function (error) {

                 }
               });
            });*/
            $.ajax({
              type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
              url: '/auth/local', // the url where we want to POST
              data: {
                identifier: $('#identifier').val(),
                password: $('#password').val()
              }, // our data object
              dataType: 'json', // what type of data do we expect back from the server
              encode: true
            }).done(function(data){ //any name you put in as an argument here will be the json response string.
              sessionStorage.setItem("jwtToken", JSON.stringify(data.jwt));
              sessionStorage.setItem("userId", JSON.stringify(data.user._id));
              sessionStorage.setItem("userEmail", JSON.stringify(data.user.email));

              console.log(data);
            //  sessionStorage.setItem("userId", JSON.stringify(data.id));

              //document.cookie = "jwtToken=" +data.jwt;
              //console.log(data.user._id)
              //window.location.href("/me.html")
              $.ajaxSetup({
                headers: {
                  'Authorization': 'Bearer ' + data.jwt
                },
                global: true
              });
              $.ajax({
                xhrFields: {
                  withCredentials: true
                },
                headers: {
                  'Authorization': 'Bearer ' + data.jwt
                },
            //    url: "/me.html"
              url: "/profile"
            });
            window.location = "profile"
            //window.location = "/me.html"
            //window.location = "/profile"
            }).error(function(errorData){
              console.log(errorData)
            });




            //$("login").click(function () {
              /*$.ajax({
                type: 'GET',
                url: 'http://localhost:1337/auth/local',
                data: {
                  identifier: $('#identifier').val(),
                  password: $('#password').val()
                },
                done: function (data) {
                  //sessionStorage.setItem("token",data.jwt);
                  window.location.href("/user/me");
                },
                fail: function (error) {
                  console.log('An error occurred:', error);

                }

              });*/
            //});
          }
        </script>
  </body>
</html>
