<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log in</title>

    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div>
<%- include('partials/navbar') %>
</div>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->

<style>


div.well{
  height: 250px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}


</style>
<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form action="" id="loginForm">
          <div class="form-group input-group">
            <input class="form-control" type="text" id='identifier' name='identifier' placeholder="username"/>
            <div class="invalid-feedback">
                    Incorrect email/username.
                  </div>
          </div>
          <div class="form-group input-group">
            <input class="form-control" type="password" name='password' id='password' placeholder="password"/>
            <div class="invalid-feedback">
                    Incorrect indenrifier or password.
                  </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-def btn-block" onclick="sendLogIn()">Login</button>
          </div>
          <div class="form-group text-center">
            <a href="#" id="forgotPassword">Forgot Password</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form data-target="#myModal" id="sendMail" method="POST">
            <div class="form-group input-group">
        Your email:
        <input type="email" name="forgottenEmail" id="forgottenEmail" class="form-control">
      </div>
      </div>
      <div class="modal-footer">
            <div class="form-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"  >Save changes</button>
            </form>
      </div>
    </div>
    </div>
  </div>
</div>

<script>


$(document).ready(function(){
  $('#forgotPassword').click(function(){
    event.preventDefault();
    $('#myModal').modal('toggle');

});
});
$(function(){
    $('#sendMail').on('submit', function(e){
        e.preventDefault();
        $.ajax({
          type: 'POST', //or POST
            url: '/auth/forgot-password',
            //data: $('#sendmail').serialize(),
            data: {
              email: $('#myModal').find('input#forgottenEmail').val(),
                url: 'http://localhost:1337/rest-password'
            },
            success: function(data){
                 alert('successfully submitted');
                 console.log($('#myModal').find('input#forgottenEmail').val());
                 $('#myModal').modal('toggle');
            },
            error: function(error) {
              console.log($('#forgottenEmail').val()),
              console.log('An error occurred:', error);
            }
        });
    });
});
function forgotPass(){
  $.ajax({
    type: 'POST',
    url: '/auth/forgot-password',
    data: {
      email: $('#myModal').find('.modal-body input').val(forgottenEmail),
      url: 'http://localhost:1337/rest-password'
    },
    success: function() {
      console.log('Your user received an email');
      //window.location.href("/me.html");
    },
    error: function(error) {
      console.log($('#forgottenEmail').val()),
      console.log('An error occurred:', error);
    }
  });
}
  function sendLogIn() {
   /*$.post( "http://localhost:1337/auth/local",{identifier: $('#identifier').val(), password: $('#password').val()}, function( data ) {
      console.log(data);
      headers: {
        'Authorization': 'Bearer '+ data.jwt,
      }
      window.location.replace("/user/me?Bearer="+data.jwt);
      $.get("http://localhost:1337/user/me")
       $.ajax({
         url: "http://localhost:1337/user/me",
         type: 'GET',
         dataType: 'json',
         headers: {
           'Authorization': 'Bearer '+data.jwt
         },
         contentType: 'application/json; charset=utf-8',
         success: function (result) {
           // CallBack(result);
           console.log(result)
           //window.location.replace("/me.html");
         },
         error: function (error) {

         }
       });
    });*/
    $.ajax({
      type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
      url: '/auth/local', // the url where we want to POST
      data: {
        identifier: $('#identifier').val(),
        password: $('#password').val()
      }, // our data object
      dataType: 'json', // what type of data do we expect back from the server
      encode: true
    }).done(function(data){ //any name you put in as an argument here will be the json response string.
      sessionStorage.setItem("jwtToken", JSON.stringify(data.jwt));
      sessionStorage.setItem("userId", JSON.stringify(data.user.id));
      sessionStorage.setItem("userEmail", JSON.stringify(data.user.email));

      console.log(data);
    //  sessionStorage.setItem("userId", JSON.stringify(data.id));

      //document.cookie = "jwtToken=" +data.jwt;
      //console.log(data.user._id)
      //window.location.href("/me.html")
      $.ajaxSetup({
        headers: {
          'Authorization': 'Bearer ' + data.jwt
        },
        global: true
      });
      $.ajax({
        xhrFields: {
          withCredentials: true
        },
        headers: {
          'Authorization': 'Bearer ' + data.jwt
        },
    //    url: "/me.html"
      url: "/profile"
    });
    window.location = "/profile"
    //window.location = "/me.html"
    //window.location = "/profile"
  }).fail(function(errorData){
      console.log(errorData)
      $('#password').addClass('is-invalid');
        $('#password').val('');
    });






    //$("login").click(function () {
      /*$.ajax({
        type: 'GET',
        url: 'http://localhost:1337/auth/local',
        data: {
          identifier: $('#identifier').val(),
          password: $('#password').val()
        },
        done: function (data) {
          //sessionStorage.setItem("token",data.jwt);
          window.location.href("/user/me");
        },
        fail: function (error) {
          console.log('An error occurred:', error);

        }

      });*/
    //});
  }

  </script>
</body>
</html>
