<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inbox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.css"/>

    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>

  </head>
<body>
<style>
.bold {
  font-weight:bold;
}
</style>
<div>
<%- include('../partials/navbar') %>
</div>
<script>
$(document).ready(function () {
  $('#inbox').DataTable({
"order": [[ 0, "desc" ]],
    "ajax": {
  type: 'GET',
   //url: "http://localhost:1337/order"+JSON.parse(sessionStorage.getItem("userId")),
   url: "http://localhost:1337/contact?populate=order&sort=createdAt%20desc",

//  url: "http://localhost:1337/order?clientId=5a71c0e096473f03f1a86624",

  //dataType: 'json',
  headers: {
    'Authorization': 'Bearer '+ JSON.parse(sessionStorage.getItem("jwtToken"))
  },
  "dataSrc": function ( json ) {
    //Make your callback here.
    json.data = [];
    var j=0;
     for ( var i=0, ien=json.length ; i<ien ; i++ ) {
      if(JSON.stringify(json[i].order)) {
        if(json[i].order.employee == JSON.parse(sessionStorage.getItem("userId"))){
              json.data[j] = json[i];
              j++;
        }
      }


}
      return json.data;
}
  },
  "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            $(nRow).attr("href", "/inbox/" + aData.id);
            $(nRow).css( 'cursor', 'pointer' );
            console.log(aData.read);
            if (!aData.read) {
              $('td', nRow).each(function(){
           $(this).addClass('bold');
       });

    }
            $(nRow).click(function(){

                window.location = $(this).attr('href');
                return false;
            });
            return nRow;
        },
  columns: [

    { data: 'createdAt' },
    { data: 'message' },
    { data: 'client' },


]
//  error: function (error) {
  //  console.log(JSON.parse(sessionStorage.getItem("jwtToken")));

  //}

});


});
</script>
<p></p>
<div class="container">
  <div class="tabela">
    <div class="table-responsive">
<table id="inbox" class='table table-hover'>
  <thead>

    <th>Date</th>
    <th>Message</th>
    <th>From</th>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
</div>
</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/kt-2.3.2/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>

</html>
